<div class="bg_img">
<main>
  <h2>Student Data</h2>
<table>
  <thead>
<tr>
  <th>SrNo</th>
  <th>Name</th>
  <th>Subject</th>
  <th>Marks</th>
  <th>Grade</th>
</tr>
</thead>

<tbody>
  <tr>
    <td>1</td>
    <td>Anish</td>
    <td>Java</td>
    <td>76</td>
    <td>A</td>
  </tr>

  <tr>
    <td>2</td>
    <td>Satish</td>
    <td>Python</td>
    <td>80</td>
    <td>A</td>
  </tr>

  <tr>
    <td>3</td>
    <td>Rakhi</td>
    <td>Rust</td>
    <td>91</td>
    <td>A+</td>
  </tr>

  <tr>
    <td>4</td>
    <td>Sujata</td>
    <td>Golang</td>
    <td>96</td>
    <td>A+</td>
  </tr>

</tbody>

</table>
</main>

<div class="main">
  <div class="container">
  <h2>Registration Form</h2>
  <form action="">
    SrNo:<input type="number"/>
    Name:<input type="text"/>
    Subject:<input type="text"/>
    Marks:<input type="number"/>
    Grade:<input type="Text"/>
   <button type="button">Submit</button>
  </form>
</div>
</div>
</div>

